input[type="file"]{
    display: none;
}

main .foto label{
    color: black;
    height: 50px;
    width: 220px;
    background-color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px lightgrey solid;
    cursor: pointer;
}