body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: rgb(182, 174, 174);
    font-size: 22px;
    line-height: 32px;
    word-wrap: break-word !important;
}

a{
    color: black;
}

.toggle, [id^=drop]{
    display: none;
}

#logo{
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

#main-toggle{
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.nav-icon{
    background: black;
    display: block;
    height: 5px;
    width: 30px;
    position: relative;
}

.nav-icon::before,
.nav-icon::after{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-icon::before{
    top: 9px;
}

.nav-icon::after{
    top: -9px;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    margin-right: 80px;
}

nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li{
    margin: 0;
    float: left;
    background-color: rgb(182, 174, 174);
}

nav a{
    display: block;
    padding: 0 20px;
    color: black;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav ul li ul li:hover{
    background-color: lightgray;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
}

nav ul ul li{
    width: 185px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 185px;
}

nav ul li:hover>ul{
    display: inherit;
}

li>a::after{
    content: " +";
}

li>a:only-child::after{
    content: "";
}

@media all and (max-width: 780px){
    nav{
        margin: 0;
    }

    nav ul{
        float: none;
    }

    .toggle+a, .menu{
        display: none;
    }

    .toggle{
        display: block;
        background-color: rgb(182, 174, 174);
        padding: 0 20px;
        color: black;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover{
        background-color:lightgray;
    }

    [id^=drop]:checked+ul{
        display: block;
    }

    nav ul li{
        display: block;
        width: 100%;
    }

    nav ul ul .toggle, nav ul ul a{
        padding: 0 40px;
    }

    nav ul ul ul a{
        padding: 0 80px;
        background-color: lightgray;
    }

    nav ul li ul li .toggle, nav ul ul a{
        background-color: lightgray;
    }

    nav ul ul{
        float: none;
        position: static;
    }

    nav ul ul li:hover>ul, nav ul li:hover>ul{
        display: none;
    }

    nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul ul li{
        position: static;
    }
}
