main .image{
    width: 70%;
    margin: auto;
    
    
    margin-top: 15px;
}

main .image img{
    width: 100%;

    box-shadow: lightblue 3px 3px 7px 1px;
}

@media all and (max-width: 850px){
    main .image{
        width: 100%;
    }
}