/*.banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2vh;
    background-image: url("../../IMAGENS/palma_mao.jpeg") no-repeat;
}*/

.banner{
    height: 25%;
    width: 100%;
}

@media screen and (max-width: 700px){
    .banner{
        height: 15%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px){
    .banner{
        height: 10%;
        margin-top: 10vh;
    }
}