.modal-register{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.modal-register:target{
    opacity: 1;
    pointer-events: all;
}

.modal-register-container{
    border: 3px solid;
    width: 400px;
    height: 455px;
    background: white;

    margin: auto;
    position: absolute;
    bottom: 0px; 
    top: 0px;
    left: 0px;
    right: 0px;
}
.modal-register-header{
    width: 100%;
    display: flex;

    
}

.linkRegisterRegister{
    text-decoration: none;
    color: black;
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    pointer-events: none;
}

.linkLoginRegister{
    text-decoration: none;
    color: gray;
    background-color: lightgray;
    width: 40%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.closeRegister{
    color: black;
    position: absolute;
    right: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.info-register{
    padding: 20px;
}

.info-register input{
    border: solid 1px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    border-color: lightgray;
    height: 45px;
    font-size: 15px;
    margin-bottom: 15px;
}

 
.info-register #inscrever{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(116, 116, 253);
    border-radius: 2px;
    background-color: rgb(116, 116, 253);
    color: white;
    font-size: 25px;
}

.info-register #inscrever:hover{
    background-color: rgb(87, 87, 233);
    transition: 750ms;
}


@media screen and (max-width: 405px){
    .modal-register-container{
        width: 100%;
    }
}