.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.modal:target{
    opacity: 1;
    pointer-events: all;
}

.modal-container{
    border: 3px solid;
    width: 400px;
    height: 350px;
    background: white;

    margin: auto;
    position: absolute;
    bottom: 0px; 
    top: 0px;
    left: 0px;
    right: 0px;
}
.modal-header{
    width: 100%;
    display: flex;

    
}

.modal-header .linkRegister{
    text-decoration: none;
    color: gray;
    background-color: lightgray;
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.linkLogin{
    text-decoration: none;
    color: black;
    width: 40%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    pointer-events: none;
}

.closeLogin{
    color: black;
    position: absolute;
    right: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.info{
    padding: 20px;
}

.info #nameUser{
    margin-bottom: 15px;
}

.info #passUser{
    margin-bottom: 35px;
}

.info #nameUser, #passUser{
    border: solid 1px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    border-color: lightgray;
    height: 50px;
    font-size: 15px;
}
 
.info #entrar{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid rgb(116, 116, 253);
    border-radius: 2px;
    background-color: rgb(116, 116, 253);
    color: white;
    font-size: 25px;
}

.info #entrar:hover{
    background-color: rgb(87, 87, 233);
    transition: 750ms;
}

.info .forgotPassword{
    float: right;
    text-decoration: none;
    color: black;
    font-weight: 400;
}


@media screen and (max-width: 405px){
    .modal-container{
        width: 100%;
    }
}