main *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main .container{
    width: 85%;
    margin: auto;
    background-color: white;
    box-shadow: lightblue 3px 3px 10px 1px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 25px 10px 20px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main .container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;

    border: solid 2px;
}

main .container .content .text .header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

main .container .content .text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

main .container .content .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 2px solid;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

main .container .content:nth-child(1) .image{
    background-image: url(../../IMAGENS/YTPrimo.png);
}

main .container .content:nth-child(2) .image{
    background-image: url(../../IMAGENS/YTFavela.png);
}

main .container .content:nth-child(3) .image{
    background-image: url(../../IMAGENS/YTMirna.png);
}

main .container .content:nth-child(4) .image{
    background-image: url(../../IMAGENS/YTJovens.png);
}

main .container .content:nth-child(5) .image{
    background-image: url(../../IMAGENS/YTPoupe.png);
}


@media all and (max-width: 900px){
    main .container{
        width: 80%;  
        padding: 20px 50px 20px 40px;
    }
}

@media all and (max-width: 750px){
    main .container{
        width: 100%;  
    }
}

@media all and (max-width: 600px){
    main .container{
        width: 100%;  
        box-shadow: 0px 10px 10px 7px;
        margin-bottom: 0px;

        padding: 15px;
    }
}